   <div class=" clearfix">
  <button class="btn btn-secondary float-left" (click)="prevDay()">Später</button>
  <button class="btn btn-secondary float-left" (click)="today()">Heute</button>

  <button class="btn btn-secondary float-right" (click)="nextDay()">Früher</button>
  <button class="btn btn-secondary float-right" (click)="tomorrow()">Morgen</button>

 </div>
 <div class="row">
  <h4 style="text-align:center"> {{selectedDate | date:"EEEE, dd.MM.yyyy"}} </h4>
  <table class="table ">
  <thead>
    <tr>
      <th>Zeit</th>
      <th> Platz 1</th>
      <th> Platz 2</th>
      <th> Platz 3</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let s of slots">
        <td class="col-xs-3"><span>{{s.hour}}:00</span></td>
        <td *ngFor = "let c of s.courts" class="col-xs-3">
          <app-dateview #child [Date] = "selectedDate" [Hour]="c.hour" [Court] = "c.court" [reserved] ="c.reserved" [Reservation] = "c.Reservation" ></app-dateview>
          </td>
      </tr>
    </tbody>
  </table>
</div>

