<!--The whole content below can be removed with the new code.-->
<!-- Image and text -->
<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">
    <img src="http://www.tfc-echzell.de/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
    TFC
  </a>

</nav>
<div class="container" style="position:absolute; top:50%; left:50%; height: 300px; width: 300px; margin-left: -150px; margin-top:-150px  ">
  <div style="text-align:center; vertical-align:middle " class="container" >
    <h2>Platzreservierung</h2>
    <h4>Platz für dein nächstes Match</h4>
  </div>
</div>
<div class="container">
  <app-schedulerview></app-schedulerview>


</div>
<div class="container">
<router-outlet></router-outlet>
</div>